*.DS_Store
*.ipynb_checkpoints
*__pycache__
*.egg-info/
build/

# Parsl
runinfo/

# 08_coupled_sim_AI_workflows outputs
08_coupled_sim_AI_workflows/*.csv
08_coupled_sim_AI_workflows/*.pt
08_coupled_sim_AI_workflows/*.png
